    <div class="box-common dialog-box" id="dialog-box" style="display:none;">
        <div class="dialog-title-wrap" id="dialog-title-wrap">
            <div class="dialog-title" id="dialog-title">
                <p></p>
            </div>
        </div>
        <div class="dialog-message-wrap" id="dialog-message-wrap">
            <div class="dialog-foreword" id="dialog-foreword"></div>
            <div class="dialog-message" id="dialog-message"></div>
            <div class="dialog-appendix" id="dialog-appendix"></div>
        </div>
        <div class="button-area button-area-dialog" id="button-area-dialog"></div>
    </div>
